
<ul>
    <li> @if($comment->parent_id != null) style="margin-left:40px;" @endif>
       <div class="comments-box">
             <div class="comments-avatar">
                @if($comment->user_info['photo'])
                <img src="{{$comment->user_info['photo']}}" alt="#">
                @else
                <img src="{{asset('backend/img/avatar.png')}}" alt="">
                @endif
             </div>
             <div class="comments-text">
                {{-- {{$post}} --}}
                <div class="avatar">
                   <h6 class="avatar-name">{{$comment->user_info['name']}}</h6>
                   @if($dep)
                   <a href="#" class="comment-reply" data-id="{{$comment->id}}"><i class="fal fa-share"></i>Javob qaytarish</a>
                   <a href="" class="btn btn-reply cancel" style="display: none;" ><i class="fa fa-trash" aria-hidden="true"></i>Bekor qilish</a>
                   @endif
                </div>
                <span class="post-meta"><i class="fal fa-calendar-alt"></i> {{$comment->created_at->format('M d Y')}}</span>
                <p>{{$comment->comment}}</p>
             </div>
       </div>
    </li>
    @include('frontend.pages.comment', ['comments' => $comment->replies, 'depth' => $dep])
 </ul>